.divMenuButton {
    color: rgb(0, 0, 0);
    display: block;
    font-family: Roboto, RobotoDraft, Arial, sans-serif;
    font-size: 13px;
    font-stretch: 100%;
    font-style: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-weight: 400;
    height: 40px;
    line-height: normal;
    position: relative;
    user-select: none;
    white-space: nowrap;
    width: 40px;
}

.aMenuButton {
    background-position-x-: 64px;
    background-position-y-: 29px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-radius: 50%;
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    cursor: pointer;
    display: inline-block;
    font-family: Roboto, RobotoDraft, Arial, sans-serif;
    font-size: 13px;
    font-stretch: 100%;
    font-style: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-weight: 400;
    height: 40px;
    line-height: normal;
    opacity: 1;
    outline-color: rgb(0, 0, 0);
    outline-style: none;
    outline-width: 0px;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 8px;
    text-decoration-color: rgb(0, 0, 0);
    text-decoration-line: none;
    text-decoration-style: solid;
    text-decoration-thickness: auto;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    width: 40px;
}

.aMenuButton:hover {
    background-color: rgb(240, 240, 240);
}

.imgMenuButton {
    color: rgb(95, 99, 104);
    cursor: pointer;
    display: inline;
    fill: rgb(95, 99, 104);
    font-family: Roboto, RobotoDraft, Arial, sans-serif;
    font-size: 13px;
    font-stretch: 100%;
    font-style: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-weight: 400;
    height: 18px; /* 24 */
    line-height: normal;
    opacity: 1;
    overflow-x: hidden;
    overflow-y: hidden;
    text-decoration-thickness: auto;
    user-select: none;
    white-space: nowrap;
    width: 16px; /* 24 */
    margin-top: 3px;
    margin-left: 4px;
}