.div-amwb {
    color: rgb(95, 99, 104);
    display: block;
    font-family: Roboto, RobotoDraft, Arial, sans-serif;
    font-size: 13px;
    font-stretch: 100%;
    font-style: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-weight: 400;
    height: 48px;
    line-height: normal;
    margin-bottom: 14px;
    margin-left: 33px;
    margin-right: 33px;
    margin-top: 14px;
    text-align: center;
    user-select: text;
    white-space: normal;
    width: 288px;
}

.a-amwb {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    color: rgb(95, 99, 104);
    cursor: pointer;
    display: inline-block;
    font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-stretch: 100%;
    font-style: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-weight: 400;
    height: 16px;
    line-height: 16px;
    outline-color: rgb(95, 99, 104);
    outline-style: none;
    outline-width: 0px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    text-align: center;
    text-decoration-color: rgb(95, 99, 104);
    text-decoration-line: none;
    text-decoration-style: solid;
    text-decoration-thickness: auto;
    user-select: text;
    white-space: normal;
}

.a-amwb:hover {
    background-color: rgb(219, 220, 225); /* pick a color */
}

.a1-amwb {
    width: 152.203px;
    margin-right: 5px;
}

.a2-amwb {
    width: 168.312px;
}