a {
    text-decoration: none;
    
    color: rgba(0, 0, 0, 0.87);
    cursor: pointer;
    display: inline-block;
    font-family: arial, sans-serif;
    font-size: 13px;
    font-stretch: 100%;
    font-style: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-weight: 400;
    height: 24px;
    line-height: 24px;
    text-decoration-color: rgba(0, 0, 0, 0.87);
    text-decoration-line: none;
    text-decoration-style: solid;
    text-decoration-thickness: auto;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    width: 33.9531px;
}

a:hover { 
    text-decoration: underline;
}