.close-account-window-container {
    position: absolute;
    width: 3000%;
    height: 100vh;
    right: -10px;
    top: -6px;
    z-index: -999;
}

.account-menu-window {
    animation-delay: 0s;
    animation-direction: normal;
    animation-duration: 0.2s;
    animation-fill-mode: none;
    animation-iteration-count: 1;
    animation-name: gb__a;
    animation-play-state: running;
    animation-timing-function: ease;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgb(255, 255, 255);
    background-image: none;
    background-origin: padding-box;
    background-position-x: 0%;
    background-position-y: 0%;
    background-size: auto;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgba(0, 0, 0, 0.2);
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: rgba(0, 0, 0, 0.2);
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: rgba(0, 0, 0, 0.2);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-top-style: solid;
    border-top-width: 1px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 10px 0px;
    color: rgb(0, 0, 0);
    display: block;
    font-family: Roboto, RobotoDraft, Arial, sans-serif;
    font-size: 13px;
    font-stretch: 100%;
    font-style: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-weight: 400;
    height: 430px;
    line-height: normal;
    margin-left: 12px;
    max-height: 558px;
    outline-color: rgb(0, 0, 0);
    outline-style: none;
    outline-width: 0px;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    right: 14px;
    top: 68px;
    transform: matrix(1, 0, 0, 1, 0, 0);
    user-select: text;
    white-space: nowrap;
    width: 354px;
    z-index: 991;
}