.upper {
    align-items: center;
    box-sizing: border-box;
    color: rgb(34, 34, 34);
    display: flex;
    flex-shrink: 0;
    font-family: arial, sans-serif;
    font-size: 14px;
    height: 60px;
    width: 100%;
    padding-bottom: 6px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 6px;
}

.middle {
    display: block;
    height: 48px;
    line-height: 27px;
    min-width: 0px;
    position: relative;
    transition-delay: 0s;
    transition-duration: 0.25s;
    transition-property: box-shadow;
    transition-timing-function: ease;
    width: 100%;
    z-index: 986;
}

.lower {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 0;
    float: right;
    height: 48px;
    justify-content: flex-end;
    line-height: normal;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 4px;
    padding-top: 0px;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    width: 285.266px;
    -webkit-box-align: center;
    -webkit-box-pack: start;
}

.link {
    height: 24px;
    width: 138.266px;
}

.menu-container {
    float: right;
    height: 48px;
    position: relative;
    width: 96px;
}

.under-upper {
    color: rgb(0, 0, 0);
    font-family: Roboto, RobotoDraft, Arial, sans-serif;
    font-size: 13px;
    font-stretch: 100%;
    font-style: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-weight: 400;
}

.under-lower {
    display: block;
    line-height: normal;
    user-select: none;
    white-space: nowrap;
}