.close-window {
    position: absolute;
    width: 3000%;
    height: 100vh;
    right: -10px;
    top: -6px;
    z-index: -999;
}

.menu-window {
    box-sizing: content-box;
    color: rgba(0, 0, 0, 0.87);
    display: block;
    font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    height: 436px;
    margin-block-end: 0px;
    margin-block-start: 0px;
    margin-bottom: 0px;
    margin-inline-end: 0px;
    margin-inline-start: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    text-size-adjust: 100%;
    width: 316px;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    position: absolute;
    background-color: white;
    right: 14px;
    top: 66px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-shadow: 0px 1px 2px 0px rgb(60 64 67 / 30%), 0px 2px 6px 2px rgb(60 64 67 / 15%);
    overflow-y: auto;
    overflow-x: hidden;

}

.menu-part1 {
    padding-bottom: 0px;
    padding-inline-start: 14px;
    padding-left: 14px;
    padding-right: 0px;
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.menu-part2 {
    padding-bottom: 0px;
    padding-inline-start: 14px;
    padding-left: 14px;
    padding-right: 0px;
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.between-part-menu {
    background-color: silver;
    border: 0px solid yellow;
    border-top: 1px solid rgb(219, 220, 225);
}

.link-container{
    color: rgba(0, 0, 0, 0.87);
    display: block;
    font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    height: 74px;
    text-align: center;
    text-size-adjust: 100%;
    width: 300px;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.link {
    background-color: rgb(255, 255, 255);
    border-bottom-color: rgb(218, 220, 224);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(218, 220, 224);
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: rgb(218, 220, 224);
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: rgb(218, 220, 224);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top-style: solid;
    border-top-width: 1px;
    box-sizing: border-box;
    color: rgb(26, 115, 232);
    cursor: pointer;
    display: inline-block;
    font-family: "Google Sans", Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-stretch: 100%;
    font-style: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-weight: 500;
    height: 38px;
    line-height: 16px;
    margin-bottom: 20px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 16px;
    max-width: 265px;
    outline-color: rgb(26, 115, 232);
    outline-style: none;
    outline-width: 0px;
    padding-bottom: 10px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 10px;
    text-align: center;
    text-decoration-color: rgb(26, 115, 232);
    text-decoration-line: none;
    text-decoration-style: solid;
    text-decoration-thickness: auto;
    text-size-adjust: 100%;
    white-space: normal;
    width: 167.609px;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    white-space: nowrap;
}

.link:hover { 
    background-color: rgb(231, 242, 248);
}

.menu-window::-webkit-scrollbar {
    width: 14px;
}
  
.menu-window::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgb(219, 220, 225);
    border: 3px solid white;
}
  
.menu-window::-webkit-scrollbar-track {
    border-radius: 8px;
}